node_modules/
.dart_tool/
build/
.idea/
*.log
.env
.env.local
**/serviceAccountKey.json
**/google-services.json
!donationchain_mobile/android/app/google-services.json
**/data/
package-lock.json
.DS_Store
*.iml
ios/Pods/
android/.gradle/
donationchain_backend/config/serviceAccountKey.json
zigHeMgV
.grok/
DonationChain-Full-Project.zip
donationchain_mobile/linux/
donationchain_mobile/macos/
donationchain_mobile/windows/
donationchain_mobile/ios/
donationchain_mobile/.dart_tool/
donationchain_mobile/flutter_01.log
donationchain_mobile/*.iml
donationchain-web/
